.detalle{

    min-height:100vh;

    background:#111;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:60px;

    padding:60px;

    color:white;

}

.detalleImagen{

    width:500px;

    background:#1b1b1b;

    border-radius:20px;

    padding:30px;

}

.detalleImagen img{

    width:100%;

    object-fit:contain;

}

.detalleInfo{

    max-width:550px;

}

.detalleCategoria{

    display:inline-block;

    background:#ff5c73;

    padding:8px 18px;

    border-radius:30px;

    margin-bottom:20px;

}

.detalleInfo h1{

    font-size:48px;

    margin-bottom:25px;

}

.detalleDescripcion{

    color:#c7c7c7;

    line-height:32px;

    margin-bottom:30px;

    font-size:18px;

}

.detallePrecio{

    color:#ff5c73;

    font-size:42px;

    margin-bottom:35px;

}

.detalleBotones{

    display:flex;

    gap:20px;

}

.btnComprar{

    background:#ff5c73;

    color:white;

    text-decoration:none;

    padding:16px 40px;

    border-radius:10px;

    transition:.3s;

}

.btnComprar:hover{

    background:#ff4560;

}

.btnRegresar{

    background:transparent;

    border:2px solid #ff5c73;

    color:#ff5c73;

    text-decoration:none;

    padding:14px 40px;

    border-radius:10px;

    transition:.3s;

}

.btnRegresar:hover{

    background:#ff5c73;

    color:white;

}

.detalleError{

    min-height:100vh;

    background:#111;

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:30px;

}
/*==================================================
                RESPONSIVE
==================================================*/

@media (max-width:1200px){

    .detalle{

        padding:50px 40px;

        gap:40px;

    }

}

@media (max-width:992px){

    .detalle{

        flex-direction:column;

        text-align:center;

    }

    .detalleImagen{

        width:100%;

        max-width:600px;

    }

    .detalleInfo{

        max-width:700px;

    }

}

@media (max-width:768px){

    .detalle{

        padding:40px 20px;

    }

    .detalleInfo h1{

        font-size:36px;

    }

    .detalleDescripcion{

        font-size:16px;

        line-height:28px;

    }

    .detallePrecio{

        font-size:34px;

    }

    .detalleBotones{

        flex-direction:column;

    }

    .btnComprar,

    .btnRegresar{

        width:100%;

        text-align:center;

    }

}

@media (max-width:480px){

    .detalle{

        padding:25px 15px;

    }

    .detalleImagen{

        padding:20px;

    }

    .detalleInfo h1{

        font-size:30px;

    }

    .detalleCategoria{

        font-size:14px;

    }

    .detallePrecio{

        font-size:30px;

    }

}