.catalogo{

    display:flex;
    min-height:100vh;
    background:#111;
    padding:40px;
    gap:30px;

}

.sidebar{

    width:260px;
    background:#1a1a1a;
    border-radius:15px;
    padding:25px;
    height:max-content;

}

.sidebar h2{

    color:#fff;
    margin-bottom:20px;
    font-size:24px;

}

.categoria{

    width:100%;
    padding:14px;
    margin-bottom:12px;

    border:none;
    border-radius:10px;

    background:#252525;

    color:white;

    cursor:pointer;

    transition:.3s;

    text-align:left;

    font-size:16px;

}

.categoria:hover{

    background:#ff5c73;

}

.activa{

    background:#ff5c73;

}

.contenido{

    flex:1;

}

.busqueda{

    margin-bottom:30px;

}

.busqueda input{

    width:100%;

    padding:16px;

    border:none;

    outline:none;

    border-radius:12px;

    background:#1b1b1b;

    color:white;

    font-size:16px;

}

.busqueda input::placeholder{

    color:#888;

}

.productos{

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(280px,1fr));

    gap:25px;

}

.card-producto{

    background:#1b1b1b;

    border-radius:15px;

    overflow:hidden;

    transition:.3s;

}

.card-producto:hover{

    transform:translateY(-6px);

}

.card-imagen{

    width:100%;

    height:220px;

    overflow:hidden;

}

.card-imagen img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.card-contenido{

    padding:20px;

}

.categoria{

    display:inline-block;

    padding:6px 14px;

    border-radius:20px;

    background:#ff5c73;

    color:white;

    font-size:13px;

    margin-bottom:15px;

}

.card-contenido h3{

    color:white;

    margin-bottom:12px;

    font-size:22px;

}

.descripcion{

    color:#bdbdbd;

    line-height:24px;

    margin-bottom:20px;

}

.precio{

    color:#ff5c73;

    font-size:28px;

    font-weight:bold;

    margin-bottom:20px;

}

.btn-ver{

    display:block;

    text-align:center;

    text-decoration:none;

    background:#ff5c73;

    color:white;

    padding:13px;

    border-radius:10px;

    transition:.3s;

}

.btn-ver:hover{

    background:#ff4560;

}

.sin-resultados{

    color:white;

}